.wrapper {
    margin: 5rem 5rem;
    display: inline-flex;
    flex-direction: column;
    padding: 3rem 5rem;
    align-items: center;
    background-color: white;
    gap: 2rem;
    border-radius: 1rem;
}

.horizontalLine {
    width: 100%;
    min-width: 500px;
    margin: 1rem 0;
    height: 2px;
    background-color: #E0E0E0;
}

.title-text {
    font-size: 24px;
}

.load-page {
    width: 100%;
}

.item-load {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0;
}

.text-load {
    font-weight: bold;
}

.input-load {
    width: 100%;
    height: 2.5rem;
    border: 1px solid #E0E0E0;
    border-radius: .5rem;
    transition: box-shadow 1s;
}

.input-load:focus {
    outline: none;
    box-shadow: 0 0 10px 5px rgba(1, 227, 255, 0.3);
}

input[type="file"] {
    background-color: #008796;
    color: #fff;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.5s ease;
    cursor: pointer; /* Добавляем указатель при наведении */
}

.custom-file-input {
    background-color: #008796;
    color: #fff;
    border: 0;
    border-radius: 0.5rem;
    padding: .6rem 1rem;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.custom-file-input:hover {
    background-color: #00b4c9;
}

/* Скрываем оригинальный элемент input */
input[type="file"] {
    display: none;
}
