.filters {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 500px;
    white-space: nowrap;
}

/* Стили для контейнера иконки */
.search-container {
    position: relative;
}

/* Стили для иконки лупы */
.search-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #666;
}

/* Стили для поля поиска */
.search-input {
    width: 150%;
    padding: 8px 32px 8px 30px; /* Добавляем отступы, чтобы иконка не перекрывала текст */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.graphs-info {
    margin: 0 3rem;
    padding: 1rem 2rem 3.5rem 2rem;
    background-color: white;
    border-radius: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ccc;
    height: 2rem;
}

th {
    padding-bottom: 1.5rem;
}

.StarFavorite {
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.StarFavorite-active {
    color: gold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.StarFavorite, StarFavorite-active:hover {
    cursor: pointer;
}

.arrow-filter {
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.5);
}

button {
    background-color: #008796;
    color: #fff;
    border: 0;
    border-radius: .5rem;
    padding: 1rem;
    transition: background-color 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: #00b4c9;
}